h1
{
background-color: chartreuse;
text-align: center;
max-width: 50%;
margin:auto;
}
#button
{
background-color: chartreuse;
text-align: center;
position: absolute;
top:15%;
left:50%;
width:250px;
height:50px;
margin-bottom: -25px;
margin-left: -125px;
border:none;
outline: none;
font-size: 22px;
}
h2
{
background-color: chartreuse;
color: black;
text-align: center;
max-width: 50%;
margin: auto;
margin-top: 20px;

}