h1 {
    font-family: 'BioRhyme', serif;
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 0 15% 50px 15%;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}
header{
    background-color: white;
}
body {
    font-family: 'BioRhyme', serif;
    color: white;
    background-color: 	#474242;
}

* {
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'BioRhyme', 'Arial';
    box-sizing: border-box;
}

#wrapper{
    max-width: 1000px;
    
    margin: 0 auto; /* 0 auto= 0 auto 0 auto */
    background-color: dimgrey;
    margin-bottom: 0;
    
}
header img {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    display: block;
}
nav{
    background-color: black;
    width: 100%;
    height: 100%;
}
.menu{
    color: white;
    display: inline-block;
    width: 25%;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    text-align: center;
}
.menu:hover{
    color: black;
    background-color: white;
    text-decoration: overline;
}
article{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: justify;
    padding: 0px 20px;
}
p
{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: justify;
    padding: 0px 20px 0px 20px;
}
iframe{
 width: 100%;
 
position: relative;
bottom: 0;
 
}
#twarz{
    margin: 5px 5px 5px 5px;
    float: left;
    padding: 10px;
    width: 25%;
    height: 25%;
    border-radius: 10% 10%;
    border: 2px solid black;
}
footer{
    height: 40px;
    background-color: black;
    margin-top: 25px;
    color: grey;
    line-height: 40px;
    text-align: center;
}
section{
   margin-bottom: 0px;
   bottom: 0px;
   margin: 0px;
    max-height: 100%;

}