body
{
    background-color: #303030;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    margin: 0 !important;
}
article
{
line-height: 150%;
text-align:justify;
width: 80%;  
margin: auto;
}
#wrapper{
    width: 100%;
}

header{
    width: 100%;
    padding: 40px 0;
    
}
#logo{
    width: 700px;
    font-size: 40px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 7px;
    padding: 7px 7px;
    text-align: center;
    
}
nav{
    width: 100%;
    padding: 10px 0;
    background-color: #64AC00;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 40px; 
}
#socials{
    width: 100%;
    text-align: center;
    background-color: #292929;
}
.socialdivs{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#fb{
    width: 250px;
    height: 70px;
    float: left;
    font-size: 50px;
}#yt{
    width: 250px;
    height: 70px;
    float: left;
    font-size: 50px;
}#tw{
    width: 250px;
    height: 70px;
    float: left;
    font-size: 50px;
}#g{
    width: 250px;
    height: 70px;
    float: left;
    font-size: 50px;
}
#fb:hover{
    background-color: #4668b3;
}
#yt:hover{
    background-color: #d94348;
}
#tw:hover{
    background-color: #3095d3;
}
#g:hover{
    background-color: #d95333;
}